html,
body {
    margin: 0;
    padding: 0;
    height: auto !important;
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    
}

.login-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px; 
}

.login-container {
    position: relative;
    z-index: 2;
    width: 400px;
    margin: auto;
    padding: 2rem;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.card {
    border-radius: 10px;
    background: transparent;
    border: none;
}

.card-header {
    background-color: #dc3545;
    color: white;
    padding: 1.5rem;
    text-align: center;
    border-radius: 10px 10px 0 0;
}

.card-body {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.form-label {
    font-weight: bold;
}

.form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    padding: 0.75rem;
    font-size: 1rem;
    width: 100%;
    color: #495057;
    background-color: #fff;
}

.btn-danger {
    background-color: #dc3545;
    border: none;
    padding: 0.75rem;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}

.btn-danger:hover {
    background-color: #c82333;
}

.text-danger {
    color: #dc3545 !important;
}